.clients__title {
  margin-bottom: 30px;
  text-align: center;
  @include font-prop(700, 28px, 1.17, 0.03em, var(--main-title-color));

  @media screen and (min-width: 1200px) {
    margin-bottom: 50px;
    @include font-prop(700, 36px, 1.16, 0.03em, var(--main-title-color));
  }
}

.clients__list {
  display: flex;
  flex-wrap: wrap;
  margin: -15px;
}
.clients__item {
  margin: 15px;
  flex-basis: calc(100% / 2 - 30px);

  @media screen and (min-width: 768px) {
    flex-basis: calc(100% / 3 - 30px);
  }

  @media screen and (min-width: 1200px) {
    flex-basis: calc(100% / 6 - 30px);
  }
}
.clients__link {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 16px;
  padding-bottom: 16px;
  border: 1px solid var(--icon-color);
  border-radius: 4px;

  &:hover,
  &:focus,
  &:hover use,
  &:focus use {
    border-color: var(--accent-color);
    fill: var(--accent-color);
  }
}

.clients__icon {
  fill: var(--icon-color);
}
