.clients__title {
  @extend.activities__title;
}

.clients__list {
  display: flex;
  flex-wrap: wrap;
  margin-right: -30px;
}
.clients__item {
  margin-right: 30px;
}
.clients__link {
  display: block;
  padding: 14px 30px;
  border: 1px solid var(--icon-color);
  border-radius: 4px;

  &:hover,
  &:focus,
  &:hover use,
  &:focus use {
    border-color: var(--accent-color);
    fill: var(--accent-color);
  }
}

.clients__icon {
  display: block;
  fill: var(--icon-color);
}
