.header--border-bottom {
  border-bottom: 1px solid #ececec;
}

.header__logo {
  color: var(--logo-studio-header-color);
  @media screen and (min-width: 768px) {
    margin-right: 88px;
  }

  @media screen and (min-width: 1200px) {
    margin-right: 93px;
  }
}

.header__contacts-link {
  color: var(--main-text-color);
  @media screen and (min-width: 768px) {
    display: block;
    padding-top: 5px;
    padding-bottom: 5px;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.02em;
  }

  @media screen and (min-width: 1200px) {
    padding-top: 32px;
    padding-bottom: 32px;
    font-size: 14px;
    line-height: 1.14;
  }

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.header__contacts-list {
  display: none;

  @media screen and (min-width: 768px) {
    // display: block;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: auto;
  }
  // @media screen and (min-width: 768px) and (max-width: 1199) {
  // }

  @media screen and (min-width: 1200px) {
    flex-direction: row;
  }
}

.header__contacts-item:not(:last-child) {
  @media screen and (min-width: 1200px) {
    margin-right: 50px;
  }
}

.header__contacts-icon {
  margin-right: 10px;
  fill: currentColor;
}
