.ourteam {
  background-color: var(--second-bg-color);

  &__title {
    margin-bottom: 30px;
    text-align: center;
    @include font-prop(700, 28px, 1.16, 0.03em, var(--main-title-color));

    @media screen and (min-width: 1200px) {
      margin-bottom: 50px;
      @include font-prop(700, 36px, 1.16, 0.03em, var(--main-title-color));
    }
  }

  &__card-list {
    @media screen and (min-width: 768px) {
      display: flex;
      flex-wrap: wrap;
      margin: -15px;
    }
  }

  &__card-item {
    margin-bottom: 30px;
    padding-bottom: 30px;
    background-color: #ffffff;
    text-align: center;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;

    @media screen and (min-width: 768px) {
      flex-basis: calc(100% / 2 - 30px);
      margin: 15px;
    }

    @media screen and (min-width: 1200px) {
      flex-basis: calc(100% / 4 - 30px);
    }
  }

  &__name {
    margin-top: 30px;
    @include font-prop(500, 16px, 1.18, 0.03em, var(--main-title-color));
  }

  &__profession {
    margin-top: 10px;
    @include font-prop(400, 16px, 1.18, 0.03em, var(--main-text-color));
  }
  &__social-flex {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 16px;
  }
  &__social-list {
    display: flex;
    align-items: center;
  }

  &__social-link {
    display: block;
    padding: 12px;
    border-radius: 50%;

    &:hover,
    &:focus,
    &:hover use,
    &:focus use {
      background-color: var(--accent-color);
      fill: var(--darkbg-text-color);
    }
  }

  &__social-item:not(:last-child) {
    margin-right: 10px;
  }

  &__social-icon {
    display: block;
    fill: var(--icon-color);
  }
}
