.filter {
  display: flex;
  justify-content: center;

  &__item:not(:last-child) {
    margin-right: 8px;
  }

  &__button {
    padding: 6px 22px;
    @include font-prop(500, 16px, 1.62, 0.03em, var(--main-title-color));

    background-color: var(--second-bg-color);
    border: 0px;
    border-radius: 4px;

    &:hover,
    &:focus {
      background-color: var(--accent-color);
      color: var(--darkbg-text-color);
      box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
        0px 2px 2px rgba(0, 0, 0, 0.12);
    }
  }
}
