.menu-button {
  display: block;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
  @media screen and (min-width: 768px) {
    display: none;
  }
}
.menu-btn:hover .menu-button__icon-close,
.menu-btn:focus .menu-button__icon-close,
.menu-button:hover .menu-button__icon-open,
.menu-button:focus .menu-button__icon-open {
  fill: var(--accent-color);
}

.menu-btn {
  position: absolute;
  top: 10px;
  right: 15px;
  display: block;
  width: 40px;
  height: 40px;
  border: none;
  background-color: transparent;
  margin-left: auto;
}
.menu-btn__svg {
  width: 100%;
  height: 100%;
}

.is-open .mobile-menu {
  display: flex;
  flex-direction: column;
}
.mobile-menu {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  padding: 48px 40px;
  width: 100vw;
  height: 100vh;
  background-color: #ffffff;
  overflow: hidden;
  z-index: 2;

  @media screen and (min-width: 768px) {
    display: none;
  }

  .mobile-menu__nav-item:not(:last-child) {
    margin-bottom: 32px;
  }

  .mobile-menu__nav-link {
    @include font-prop(500, 40px, 1.17, 0.02em, var(--main-title-color));
  }

  .mobile-menu__contacts-list {
    margin-top: auto;
    margin-bottom: 64px;
  }

  .mobile-menu__contacts-item:not(:last-child) {
    margin-bottom: 32px;
  }

  .mobile-menu__contacts-link {
    @include font-prop(500, 24px, 1.16, 0.02em, var(--main-text-color));
  }

  .mobile-menu__contacts-link.tel {
    @include font-prop(500, 34px, 1.17, 0.02em, var(--main-text-color));
  }

  .mobile-menu__social-list {
    display: flex;
    flex-wrap: wrap;
  }

  .mobile-menu__social-item:not(:last-child) {
    padding-right: 10px;
    border-right: 1px solid rgba(33, 33, 33, 0.2);
  }

  .mobile-menu__social-item:not(:first-child) {
    margin-left: 10px;
  }

  .mobile-menu__social-link {
    @include font-prop(500, 18px, 1.22, 0.02em, var(--accent-color));
  }

  .mobile-menu__nav-link:hover,
  .mobile-menu__nav-link:focus,
  .mobile-menu__contacts-link:hover,
  .mobile-menu__contacts-link:focus {
    color: var(--accent-color);
  }
  .mobile-menu__nav-link.active {
    color: var(--accent-color);
  }
}
