.nav-wrap {
  display: flex;
  align-items: center;
  @media screen and (max-width: 767px) {
    justify-content: space-between;
    max-height: 60px;
  }
}
.nav__list {
  display: none;
  @media screen and (min-width: 768px) {
    display: flex;
  }
}

.nav__item:not(:last-child) {
  margin-right: 50px;
}

.nav__link {
  color: var(--main-title-color);
  @media screen and (min-width: 768px) {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
  }

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}
