:root {
  --logo-web-color: #2196f3;
  --logo-studio-header-color: #000000;
  --logo-studio-footer-color: #ffffff;
  --main-title-color: #212121;
  --main-text-color: #757575;
  --accent-color: #2196f3;
  --darkbg-text-color: #ffffff;
  --first-bg-color: #2f303a;
  --second-bg-color: #f5f4fa;
  --icon-color: #afb1b8;
  --main-btn-hover-bg-color: #188ce8;
}
